<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<h2>Articles</h2>
<% @person.articles.each do |article| %>
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>
 
  <p>
    <strong>Date:</strong>
    <%= article.publication_date %>
  </p>
<% end %>

<h2>Add an article:</h2>
<%= form_for([@person, @person.articles.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :publication_date %><br>
    <%= f.datetime_select :publication_date %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
	